# Byte-compiled / optimized / DLL files
__pycache__/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.cache
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
salon/migrations/
local_settings.py
db.sqlite3

# Sphinx documentation
docs/_build/

# Environments
venv/
env/

# Javascript libraries
node_modules/
bower_components
.grunt
.npm

# Logs 
*.log
.idea/

# specials
price.txt
price.pdf

# nginx
*.sock